<app-navbar></app-navbar>

<div class="container mt-5">

    <div class="row">
        <div class="col-sm-7">
            <h1>Formulario</h1>
            <hr>

            <input type="text" class="form-control mb-2" placeholder="Nombre">
            <input type="text" class="form-control mb-4" placeholder="Apellido">
            <form class="form-inline">
                <div class="form-group mx-auto">
                    <button class="btn btn-success mr-2"> Aceptar </button>
                    <button class="btn btn-danger"> Cancelar </button>
                </div>
            </form>

        </div>

    </div>


</div>